:root {
  --background: #fff;
  --color-grey-light: rgba(0, 0, 0, 0.08);
  --text-color: #444;
  --text-light: rgba(15, 15, 15, 0.5);
  --text-dark: #131516;
  --max-page-width: 1200px;
  --shadow-1: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
  --shadow-2: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
}
