.hamburger {
  background: transparent;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 30px;
  align-self: center;
}

.hamburger__line {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  background-color: #000;
  height: 4px;
  width: 100%;
  margin: 4px auto;
  border-radius: 4px;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger--active .hamburger__line:nth-child(2) {
  opacity: 0;
}
.hamburger--active .hamburger__line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger--active .hamburger__line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
