.header {
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 56px;
  z-index: 500;
  box-shadow: var(--shadow-1);
  padding: 0 24px;
  overflow: hidden;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-page-width);
}

.header__logo {
  color: #000;
}

.header__navigation {
  font-size: 16px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  color: var(--text-light);
  position: fixed;
  width: 100%;
  top: 56px;
  left: -100%;
  overflow: hidden;
  text-align: center;
  height: calc(100vh - 56px);
  transition: all 0.5s ease-in-out;
  background-color: #fff;
}

.header__navigation ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}

.header__navigation > ul > li {
  padding: 15px;
}

.header__navigation > ul > li:hover {
  color: var(--text-color);
}

.header__navigation--open {
  left: 0;
}

@media (min-width: 768px) {
  .header {
    height: 65px;
  }

  .header__navigation {
    display: flex;
    position: static;
    width: auto;
    height: auto;
    transform: none;
    transition: none;
  }

  .header__navigation ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .header__navigation > ul > li {
    padding: 0 10px;
  }
}
