.post-wrapper {
  max-width: 800px;
  color: var(--text-dark);
  padding: 20px;
}
.post {
  position: relative;
  border-bottom: var(--border-1);
  margin-bottom: 30px;
}

.post__like {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 5px;
  margin-right: 5px;
}

.post > * {
  margin-bottom: 25px;
}

.post__title {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  word-break: break-word;
  text-transform: capitalize;
}

.post__content {
  font-family: 'Roboto';
  overflow-wrap: break-word;
  font-size: 1.1rem;
  font-weight: normal;
}

.post__content:first-letter {
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .post-wrapper {
    padding: 20px;
    margin: 30px auto;
    box-shadow: var(--shadow-3);
  }
  .post__title {
    font-size: 2.2rem;
  }
  .post__content {
    line-height: 28px;
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .post__title {
    font-size: 2.6rem;
  }
}

@media (min-width: 992px) {
  .post__title {
    font-size: 3rem;
  }
  .post__content {
    line-height: 30px;
    font-size: 1.25rem;
  }
}
